*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: yellow;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: 100;
    letter-spacing: 10px;
}

h2{
    color: red;
}

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4{
    color: violet;
}

#one > h2{
    color: #674587;
}

p{
    background-image: url(./Assets/Joker.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Box-modeling{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 30px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid black;
    border-right: 10px solid green; */
    border: 20px solid black;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* margin: 30px 50px 70px 90px; */
}